@charset "utf-8";
html {
    height: 100%;
    font-size: 10px;
}
body {
    height: 100%;
    background: #272425;
    font-family: "나눔스퀘어", serif;
}
img {
    display: block;
    width: 100%;
}
h2.page-title {
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translateY(-50%) rotate(-90deg);
    font-size: 2.5rem;
    font-weight: bold;
    color: #fff;
    letter-spacing: 3px;
}
span.mark {
    display: inline-block;
    width: 2.6rem;
    height: 2.1rem;
    background: url(../img/mark_white.png) no-repeat center center /cover;
    margin-right: 10px;
}



#header {
    overflow: hidden;
    width: 100%;
    height: 100%;
}
.header {
    width: 100%;
    height: 100%;
}
.header .main-box {
    position: relative;
    background: #447d52;
    width: 100%;
    height: 100%;
}
.header .main-box > div {
    position: absolute;
    top: 0; left: 0;
}
.main-box .front-view {
    width: 100%;
    height: 100%;
    background-color: #fff;
    overflow: hidden;
    z-index: 30;
}
.main-box .front-view .title-en {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    width: 50%;
    opacity: 0;
    visibility: hidden;
    transition: 1s;
}
.main-box .front-view .title-en.active {
    opacity: 1;
    visibility: visible;
}
.main-box .front-view .title-en.active .bar {
    width: 120%;
    transition-delay: 1s;
}
.main-box .front-view .title-en .bar {
    width: 0;
    height: 10%;
    background-color: black;
    position: absolute;
    top: 60%; left: -11%;
    transition: 1s;
}
.main-box .back-view {
    overflow: hidden;
    z-index: 20;
}
.main-box .back-view .title-kor {
    position: absolute;
    top: 5rem; left: 5rem;
    width: 23%;
    z-index: 10;
}
.main-box .back-view .title-kor.sticky {
    position: fixed;
    top: 3rem; left: 3rem;
    width: 10%;
}
.nav {
    position: fixed;
    top: 3rem; right: 3rem;
    cursor: pointer;
    z-index: 25;
}
.nav .ico-menu {
    position: relative;
    width: 4.7rem;
    height: 4.2rem;
    box-sizing: border-box;
    background-color: black;
    padding: 1.1rem 0.5rem;
    z-index: 25;
}
.nav .ico-menu a span.bar {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%) rotate(0deg);
    display: block;
    width: 2.8rem;
    height: 0.3rem;
    background-color: #fff;
    margin: 0 auto;
    transition: 0.2s;
}
.nav .ico-menu a span.bar:first-child {top: 35%;}
.nav .ico-menu a span.bar:last-child {top: 64%;}

.nav .ico-menu.active a span.bar:first-child{
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}
.nav .ico-menu.active a span.bar:last-child{
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}
.nav .gnb {
    position: fixed;
    top: 0;
    bottom: 0;
    right: -35rem;
    width: 35rem;
    background-color: #272425;
    transition: 0.5s;
}
.nav .ico-menu.active + .gnb {right: 0;}
.nav .gnb .menu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.nav .gnb .menu span.mark {margin: 0 1rem 2.5rem;}
.nav .gnb .menu ul {width: 70%;}
.nav .gnb .menu ul li {
    position: relative;
    display: inline-block;
    margin-bottom: 2.5rem;
}
.nav .gnb .menu ul li:after {
    content: "";
    position: absolute;
    top: 50%; left: 0;
    transform: translateY(-50%);
    width: 0;
    height: 0.8rem;
    background-color: #000;
    transition: 0.3s;
}
.nav .gnb .menu ul li.active:after{width: 100%;}
.nav .gnb .menu ul li a {
    display: block;
    color: #faf9f2;
    font-weight: bold;
    font-size: 2.5rem;
    padding: 0.5rem 1rem;
}
.nav .gnb .menu ul li a span.dot {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background-color: #faf9f2;
    margin: 0 1.5rem 0.5rem 0;
}


/* story */
#story {
    width: 100%;
    height: 100%;
    background: url(../img/family_bg.png) no-repeat center bottom /cover;
    overflow: hidden;
    z-index: 100;
}
.story {
    width: 100%;
    height: 100%;
    position: relative;
}
.story .together {
    position: absolute;
    top: 10%; left: 50%;
    transform: translateX(-50%);
}
.story .together span {
    display: inline-block;
    font-size: 5.8rem;
    font-weight: 700;
    margin-right: 3rem;
    color: #fff;
    visibility: hidden;
    opacity: 0;
}
.story .together span:last-child{margin-right: 0;}

.story .together span:nth-child(2n) {
    transition: 1s;
    transition-delay: 0.3s;
}
.story .together span:nth-child(2n+1) {
    transition-delay: 0.5s;
    transition: 1.2s;
}
.story.active .together span{
    visibility: visible;
    opacity: 1;
}
.story .fam-photo {
    position: absolute;
    bottom: 0; left: 50%;
    transform: translateX(-50%);
    width: 45%;
    z-index: 10;
    transition: 1s;
}
@keyframes show{
    0% {
        opacity: 0;
        visibility: hidden;
    }
    100% {
        opacity: 1;
        visibility: visible;
    }
}
.story.active .fam-photo {
    left: 33%;
    transition-delay: 1s;
}
.story .fam-photo .fam-wrap {position: relative;}
.story .fam-photo .fam-wrap .bars > span {
    position: absolute;
    display: block;
    width: 0;
    height: 2%;
    transition: 1s;
}
.story.active .together + .fam-photo .bars > span{width: 14%;}
.story .fam-photo .fam-wrap .bars .black {background-color: black;}
.story .fam-photo .fam-wrap .bars .white {background-color: white;}
.story .fam-photo .fam-wrap .bars .black:nth-child(1) {top: 14%; left: 9%;}
.story .fam-photo .fam-wrap .bars .black:nth-child(2) {top: 13%; left: 78%;}
.story .fam-photo .fam-wrap .bars .black:nth-child(3) {top: 45.5%; left: 8.5%;}
.story .fam-photo .fam-wrap .bars .black:nth-child(4) {top: 46.5%; left: 75%;}
.story .fam-photo .fam-wrap .bars .white:nth-child(5) {top: 25.5%; left: 29%;}
.story .fam-photo .fam-wrap .bars .white:nth-child(6) {top: 8.5%; left: 48%;}
.story .fam-photo .fam-wrap .bars .white:nth-child(7) {top: 47%; left: 37%;}
.story .fam-photo .fam-wrap .bars .white:nth-child(8) {top: 49%; left: 55.5%;}

.story .fam-photo .summary {
    position: absolute;
    bottom: 8%; left: 15%;
}
.story .fam-photo .summary em {
    display: block;
    font-size: 2.5rem;
    padding: 1rem;
    background-color: black;
    color: #fff;
    z-index: 10;
}
.story .synopsis {
    position: absolute;
    width: 30%;
    bottom: 8%;
    left: 50%;
    transform: translateX(-50%);
    transition: 1s;
}
.story.active .synopsis {
    transition-delay: 1s;
    left: 75%;
    animation: show 1s linear;
}
.story .synopsis span.mark {
    display: inline-block;
    width: 50px;
    height: 41px;
    background-position: -2px -194px;
    margin-bottom: 2rem;
}
.story .synopsis p {
    color: #fff;
    font-size: 2rem;
    line-height: 2;
    margin-bottom: 3rem;
}



/* family */
#family {
    width: 100%;
    height: 100%;
}
.family {
    position: relative;
    width: 100%;
    height: 100%;
}
.family .house {
    position: absolute;
    top: 60%; left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    width: 75%;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}
.family.active .house {
    top: 50%;
    opacity: 1;
    visibility: visible;
}
.family .house > div {
    position: relative;
    width: 50%;
    transition: 0.5s;
}
.family .house .overlay {
    display: none;
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}
.family .house .overlay > em{
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3.5rem;
    font-weight: 600;
    color: #fff;
    letter-spacing: 5px;
}

.family .family-slide {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) scale(0);
    width: 100%;
    height: 85%;
    margin: 0 auto;
    transition: 0.5s;
}
.family .family-slide.animation {transform: translateX(-50%) scale(1);}

.family .family-slide .slide-nav a.prev, 
.family .family-slide .slide-nav a.next {
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    display: block;
    width: 4.5rem;
    height: 0.8rem;
    background: #fff;
    z-index: 333;
}
.family .family-slide .slide-nav a.prev {left: 7%;}
.family .family-slide .slide-nav a.next {right: 7%;}

.family .family-slide .slide-nav a.close {
    display: block;
    position: absolute;
    top: 90%; right: 7%;
}
.family .family-slide .slide-nav a.close .bar{
    display: block;
    position: absolute;
    top:50%; left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    width: 4.5rem;
    height: 0.8rem;
    background: #333;
    z-index: 333;
}
.family .family-slide .slide-nav a.close .bar:last-child{transform: translate(-50%, -50%) rotate(45deg);}

.family .family-slide .family-list {
    width: 100%; 
    height: 100%;
}
.family .family-list .member {
    display: none;
    position: absolute;
    top: 50%; left: 0;
    transform: translateY(-50%);
    width: 100%;
    height: 100%;
}
.family .family-list .member .char {
    position: relative;
    height: 100%;
}
.family .family-list .member .char .photo {
    width: 27%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.family .family-list .member .char .desc {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    text-align: left;
    font-weight: 400;
    z-index: 30;
    color: #333;
}
.family .family-list .member .char:after {
    content: "";
    width: 100%;
    height: 18rem;
    background: #faf9f2;
    position: absolute;
    bottom: 0; left: 0;
}
.family .family-list .member .char .desc span {
    display: none;
    font-size: 1.8rem;
    margin-bottom: 0.8rem;
}
.family .family-list .member .char .desc em.name {
    position: relative;
    display: inline-block;
    font-size: 4.8rem;
    font-weight: 600;
    margin-right: 3rem;
    line-height: 1.4;
}
.family .family-list .member .char .desc strong {
    display: none;
    font-size: 2.4rem;
    font-weight: 400;
}
.family .family-list .member .char .desc em:after {
    content: "";
    position: absolute;
    top: 1.5rem;
    left: 10.1rem;
    width: 0.3rem;
    height: 3.6rem;
    background-color: #333;
}
.family .family-list .member .char .desc p {
    display: inline-block;
    width: 55%;
    font-size: 1.8rem;
    line-height: 1.4;
    margin-top: 1.2rem;
}
.family .family-list .member .char .lines {
    position: absolute;
    top: 27%;
    left: 65%;
}
.family .family-list.park .member .char .lines {
    left: 17%;
    text-align: right;
}
.family .family-list .member .char .lines p {
    font-size: 3.4rem;
    font-weight: 600;
    color: #fff;
    line-height: 1.4;
}

.family .family-list.gt .member:nth-child(2n) .char .photo {width: 30%;}
.family .family-list.park .member:nth-child(1) .char .photo{width: 35%;}
.family .family-list.park .member:nth-child(2) .char .photo{width: 30%;}
.family .family-list.park .member:nth-child(3) .char .photo{width: 22%;}
.family .family-list.park .member:nth-child(4) .char .photo{width: 25%;}



/* 메타포 */
#metaphor {
    width: 100%;
    height: 100%;
    background: #447d52;
}
.metaphor {
    position: relative;
    height: 100%;
    overflow: hidden;
}
.metaphor .smell {
    position: absolute;
    top: 65%; left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    color: #fff;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    transition: 1s;
}
.metaphor.active .smell{
    top: 55%;
    opacity: 1;
    visibility: visible;
}
.metaphor .smell p {
    font-size: 2rem;
    line-height: 1.4;
    padding: 1.2rem;
}
.metaphor .smell em {
    display: block;
    font-size: 1.6rem;
}
.metaphor .item > div {position: absolute;}
.metaphor .item > div p {
    font-size: 2rem;
    background-color: #fff;
    padding: 1.5rem;
    border-radius: 1.5rem;
    line-height: 1.4;
    text-align: center;
    box-sizing: border-box;
}
.metaphor .item .stone {top: 18%; left: 10%;}
.metaphor .item > div {
    transition: 1s;
    visibility: hidden;
    opacity: 0;
}
.metaphor.active .item > div {
    visibility: visible;
    opacity: 1;
}

.metaphor .item > div:nth-child(1){transition-delay: 0.5s;}
.metaphor .item > div:nth-child(2){transition-delay: 1s;}
.metaphor .item > div:nth-child(3){transition-delay: 1.5s;}
.metaphor .item > div:nth-child(4){transition-delay: 2s;}
.metaphor .item .stone a {
    display: block;
    width: 30rem;
}
.metaphor .item .stone p {
    position: absolute;
    top: 1rem; left: 21.5rem;
    width: 32rem;
}
.metaphor .item .stone.animation a {
    animation: floating 3s linear infinite;
}
@keyframes floating {
    0% {
        transform: translateX(0px) rotate(-3deg);
    }
    25% {
        transform: translateX(-30px) rotate(3deg);
    }
    50% {
        transform: translateX(0px) rotate(-3deg);
    }
    75% {
        transform: translateX(30px) rotate(3deg);
    }
    100% {
        transform: translateX(0px) rotate(-3deg);
    }
}

.metaphor .item .painting {top: 60%; right: 10%;}
.metaphor .item .painting a {
    display: block;
    width: 90%;
    transform: rotate(-5deg);
}
.metaphor .item .painting p {
    position: absolute;
    top: 4rem; left: 20rem;
    width: 16rem;
}
.metaphor .item .painting.animation a {animation: swing ease-in-out 2s infinite alternate;}
@keyframes swing {
    0% {
        transform: rotate(0deg)
    }
    50%{
        transform: rotate(6deg)
    }
    100% {
        transform: rotate(-3deg);
    }
}

.metaphor .item .legs {
    bottom: 12%; left: 0%;
}
.metaphor .item .legs a {
    display: block;
    width: 50rem;
}
.metaphor .item .legs p {
    position: absolute;
    top: 18rem;
    left: 25rem;
    width: 32rem;
}
.metaphor .item .legs.animation a {animation: slide ease-in-out 4s infinite;}
@keyframes slide {
    0% {
        transform: translateX(0px);
    }
    50% {
        transform: translateX(-50%);
    }
    75% {
        transform: translateX(-25%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.metaphor .item .bulb {
    top: -15%; right: 20%;
}
.metaphor .item .bulb a {
    display: block;
    width: 8rem;
}
.metaphor .item .bulb a .light {
    position: absolute;
    bottom: 8px; left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    width: 70px;
    height: 70px;
    background: rgba(255, 233, 173, 0.7);
    border-radius: 50%;
    transition: 0.3s;
    box-shadow:0px 2px 10px rgba(255, 233, 173,0.8),
    0px 5px 50px rgba(255, 233, 173,0.8),
    0px 8px 80px rgba(255, 233, 173,0.6),
    0px 8px 120px rgba(255, 233, 173,0.6);
}
.metaphor .item .bulb p {
    position: absolute;
    top: 30.5rem; left: 7rem;
    width: 11rem;
}
.metaphor .item .bulb.animation .light {animation: lighting 1s infinite alternate;}
@keyframes lighting {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


/* 어워드 */
#award  {
    position: relative;
    width: 100%;
    height: 100%;
}
.award {
    position: relative;
    width: 100%;
    height: 100%;
}
.award > div {
    position: absolute;
    width: 50%;
    height: 100%;
    transition: 1s;
}
.award .left-box {
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}
.award .right-box{
    right: 10%;
    opacity: 0;
}
.award.active .left-box {
    top: 0; left: 0;
    transform: none;
}
.award.active .right-box {
    top: 0; right: 0;
    left: none;
    opacity: 1;
    transform: none;
}
.award .oscars {
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translateY(-50%);
    width: 70%;
    z-index: 10;
}
.award .oscars:after {
    content: "← CLICK";
    position: absolute;
    top: 13%;
    right: 33%;
    color: #fff;
    font-size: 2.2rem;
    font-weight: bold;
    opacity: 0; 
    visibility: hidden;
    transition: 0.3s;
    animation: bounce 0.5s infinite alternate;
}
.award.active .oscars:after {    
    opacity: 1; 
    visibility: visible;
    transition-delay: 1s;
}

@keyframes bounce {
    0% {transform: scale(1.1)}
    100% {transform: scale(1)}
}
.award .wrap {
    width: 100%;
    height: 100%;
    display: flex;
}
.award .wrap > div {
    width: 100%;
    height: 100%;
    flex-grow: 1;
    position: relative;
}

.award .bong {
    position: absolute;
    bottom: -15%; left: 7%;
    z-index: 30;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}
.award .bong.active {
    bottom: 0;
    opacity: 1;
    visibility: visible;
}
.award .bong .photo {
    width: 85%;
    margin: 0 auto;
}
.award .bong .interview {
    position: absolute;
    top: -55%; left: 50%;
    transform: translate(-50%);
    width: 80%;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    transition: 1s;
}
.award .bong.active .interview {
    transition-delay: .5s;
    opacity: 1;
    visibility: visible;
}
.award .bong .interview p {
    font-size: 2rem;
    font-weight: 400;
    color: #fff;
    letter-spacing: 1px;
    line-height: 1.4;
}
.award .bong .interview p em {
    display: block;
    font-size: 3rem;
    font-weight: bold;
    margin: 1rem 0;
}
.award .winner {
    position: absolute;
    top: 11%;
    text-align: center;
    font-size: 6rem;
    letter-spacing: 2px;
    font-weight: 900;
    line-height: 1.2;
}
.award .winner .shining {
    display: block;
    background: linear-gradient(135deg, #e7cf85, #fff, #e0c05e);
    background-repeat: no-repeat;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color:  rgba(183, 162, 97, 0.3);
}
.award .winner .shining.animation {animation: shine 2s linear;}
.award .video {
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
}
.award .media {
    position: absolute;
    top: 75%; left: 0;
    width: 88%;
    border-top: 0.5px solid #faf9f2;
    border-bottom: 0.5px solid #faf9f2;
}
.award .media p {
    font-size: 2em;
    color: #FFF;
    line-height: 1.8;
    padding: 2rem;
}
.award .media p strong {
    display: block;
    font-size: 1.6rem;
    text-align: right;
}
.award .trophy {
    position: absolute;
    top: 37%;
    left: 0;
    z-index: 10;
}
.award .trophy ul {display: flex;}
.award .trophy ul li {
    width: 25%;
    margin-right: 2rem;
    color: #faf9f2;
    opacity: 0;
}
.award .trophy ul li span {
    display: block;
    background: url(../img/trophy_real.png) no-repeat center center;
    background-size: cover;
    width: 100px;
    height: 265px;
    margin: 0 auto;
}
.award .trophy ul li em {
    display: block;
    font-size: 1.8rem;
    margin-top: 1.3rem;
    font-weight: bold;
    line-height: 1.4;
    text-align: center;
}

@keyframes shine {
    0% {
        background-size: 0%;
        background-position: -300%;
    }
    100%{
        background-size: 100%;
        background-position: 400%;
    }
}


/* footer */
#footer {
    height: 100%;
    position: relative;
    overflow: hidden;
    background: #272425;
}
.footer .sibling {
    position: absolute;
    bottom: -5%; right: -30%;
    width: 30%;
    transition: 0.5s;
    cursor: pointer;
}
.footer.active .sibling {right: 0;}
.footer .view-box {
    opacity: 0;
    visibility: hidden;
    width: 0; height: 0;
    position: absolute;
    top: 80%; left: 90%;
    transform: translate(-50%,-50%);
    background-color: #faf9f2;
    padding: 2rem 2rem 0 2rem ;
    transition: 1s;
}
.footer .view-box.animation {
    opacity: 1;
    visibility: visible;
    top: 50%; left: 45%;
    width: 50%; height: auto;
}
.footer .view-box .trailer {position: relative;}
.footer .view-box .trailer .play-overlay {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
}
.footer .view-box .trailer:hover .play-overlay {
    opacity: 1;
    visibility: visible;
}
.footer .view-box .trailer .play {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    z-index: 999;
}
.footer .view-box .trailer .play svg {
    width: 100px;
    height: 100px;
}

.footer .view-box .infor {
    display: flex;
    justify-content: space-between;
    margin: 2.5rem auto;
}
.footer .view-box .infor .left ul.cast {
    display: flex;
    margin-bottom: 1.2rem;
}
.footer .view-box .infor .left ul.cast li {
    width: 70%;
    font-size: 2.2rem;
    font-weight: bold;
    letter-spacing: 0.5rem;
    margin-right: 1.5rem;
}
.footer .view-box .infor .left p {
    font-size: 1.8rem;
    margin-bottom: 3rem;
    font-weight: 300;
    letter-spacing: 1px;
}
.footer .view-box .infor .left em {
    font-size: 2.6rem;
    letter-spacing: 0.5rem;
}
.footer .view-box .infor .right {width: 30%;}

/* 트레일러 */
.overlay {
    display: none;
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    z-index: 999;
}
.modal {position: absolute;}
.modal-close {
    position: absolute;
    top: 24px; right: 24px;
    display: block;
    width: 32px;
    height: 32px;
    border: none;
    color: transparent;
    background: url(../img/close.svg) no-repeat;
    background-size: 32px 32px;
}
body.modal-on {overflow : hidden;}


@media (max-width: 1290px) {
    html{font-size: 9px;}
}
@media (max-width: 1024px) {
    html{font-size: 6px;}
}
@media (max-width: 960px) {
    html{font-size: 5px;}
}